<div class="container">
  <div class="row">
    <!-- Company Info -->
    <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
      <a class="footer-brand" href="index.html">
        <img src="image/RP Associates Logo.png" alt="Unique pest control logo">
      </a>
      <p>
        At Unique Pest Control, we offer tailored pest management solutions to meet the specific needs of our clients. With years of industry experience, we are committed to delivering top-quality services that keep your home, business, or industrial facility pest-free and safe.
      </p>
    </div>

    <!-- Explore Links -->
    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="secH">Explore</h5>
      <ul>
        <li>
          <a href="index.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Home</a>
        </li>
        <li>
          <a href="about.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>About</a>
        </li>
        <li>
          <a href="contactUs.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Contact Us</a>
        </li>
        <li>
          <a href="termiteTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Termites Treatment</a>
        </li>
        <li>
          <a href="cockroachTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Cockroaches control</a>
        </li> 
      </ul>
    </div>

    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="secH">Quick Links</h5>
      <ul>
        <li>
          <a href="rodentTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Rodent Treatment</a>
        </li>
        <li>
          <a href="woodBorerTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Wood borer Treatment</a>
        </li>
        <li>
          <a href="bedbugTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Bedbug Treatment</a>
        </li>
        <li>
          <a href="birdControlTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Bird Control</a>
        </li>
        <li>
          <a href="mosquitoTreatment.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>Mosquito Treatment</a>
        </li>
        <li>
          <a href="generalDisinfestation.html"><i class="fa-solid fa-caret-right" aria-hidden="true"></i>General Disinfestation</a>
        </li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="col-lg-3 col-sm-6">
      <h5 class="secH">Reach Us</h5>

      <ul class="contact-info">
        <li>
          <a class="locationLink" href="https://maps.app.goo.gl/DeHoymJFeSbEVLu79"><i class="fa-solid fa-location-dot" aria-hidden="true"></i>A/12,Muzammil Park,
            Tandalja Road,
            Vadodara</a>
        </li>
        <li>
          <a href="tel:+91 9924408987"><i class="fa-solid fa-mobile-screen-button" aria-hidden="true"></i> +91 99244 08987</a>
        </li>
        <li>
          <a href="mailto:uniqepesticied@yahoo.in"><i class="fa-solid fa-envelope" aria-hidden="true"></i>uniqepesticied@yahoo.in</a>
        </li>
      </ul>
      <div class="social-icons mt-3">
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>